---
import Layout from "../layouts/Layout.astro";
import AccountPage from "../components/AccountPage";
---

<Layout>
  <div class="min-h-screen flex items-center justify-center">
    <AccountPage client:load />
  </div>
</Layout>
