---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
    <Navbar />
    <!-- CONTAINER FOR NARROWING CONTENT -->
    <div class="px-0 md:px-[50px] lg:px-[100px] xl:px-[100px]">
        <Hero />
    </div>
</Layout>
