---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm";
import SignUpForm from "../components/SignUpForm";
---

<Layout>
    <div class="flex items-center justify-center min-h-screen">
        <SignUpForm client:load />
        <LoginForm client:load />
    </div>
</Layout>
